*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #bbe1eb;
    transition: background-color 0.4s linear;
}

body.nav-open{
    background-color: #f2e9ca;
}

.nav-icon{
    position: relative;
    width: 42px;
    height: 32px;
    cursor: pointer;
}

.nav-icon span{
    position: absolute;
    width: 50%;
    height: 6px;
    background-color: #2a1929;
    transition: all 0.2s ease-in-out;
}

.nav-icon span:nth-child(odd){
    left: 0;
    border-radius: 9px 0 0 9px;
}

.nav-icon span:nth-child(even){
    left: 50%;
    border-radius: 0 9px 9px 0;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(2){
    top: 0;
}

.nav-icon span:nth-child(3),
.nav-icon span:nth-child(4){
    top: 13px;
}

.nav-icon span:nth-child(5),
.nav-icon span:nth-child(6){
    top: 26px;
}

.nav-open .nav-icon span:nth-child(1),
.nav-open .nav-icon span:nth-child(6){
    transform: rotate(45deg);
}
.nav-open .nav-icon span:nth-child(2),
.nav-open .nav-icon span:nth-child(5){
    transform: rotate(-45deg);
}

.nav-open .nav-icon span:nth-child(1){
    top: 8px;
    left: 5px;
}
.nav-open .nav-icon span:nth-child(2){
    top: 8px;
    left: calc(50% - 5px);
}
.nav-open .nav-icon span:nth-child(3){
    left: -100%;
    opacity: 0;
}
.nav-open .nav-icon span:nth-child(4){
    left: 150%;
    opacity: 0;
}
.nav-open .nav-icon span:nth-child(5){
    top: 19px;
    left: 5px;
}
.nav-open .nav-icon span:nth-child(6){
    top: 19px;
    left: calc(50% - 5px);
}