*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    color: #fff;
    background-color: #121212;
    padding: 40px 80px 0;
}

h1{
    font-size: 1.75rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin-block: 2rem 8rem;
}

.loader{
    --size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--size) / 2);
    height: calc(var(--size) * 5);
}

.loader div{
    /* width: 20px; */
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    background-color: #ffd700;
    animation: wave 2s infinite ease-in-out;
}

@keyframes wave {
    /* 0%, 100%{
        height: 20px;
        background-color: #ffd700;
    } */

    25%{
        height: calc(var(--size) * 5);
        background-color: #fc00ff;
    }
    50%{
        height: var(--size);
        background-color: #9c73f8;
    }
    /* 100%{
        height: 20px;
        background-color: #ffd700;
    } */
    
}

/* .loader :nth-child(1){
    animation-delay: 0s;
} */
.loader :nth-child(2){
    animation-delay: 0.2s;
}
.loader :nth-child(3){
    animation-delay: 0.4s;
}
.loader :nth-child(4){
    animation-delay: 0.6s;
}
.loader :nth-child(5){
    animation-delay: 0.8s;
}